@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Quicksand:wght@500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, input, select, button {
  font-family: 'Quicksand', sans-serif;
}

input, button, select {
  font-size: 16px;
  margin: 3px 0;
  padding: 3px;
}

.head_bar {
  display: flex;
  color: white;
  padding-block: 1rem;
  justify-content: center;
  background-color:#FF6500;
}

main {
  display: flex;
  flex-flow: column nowrap;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 16px;
  gap: 1.5rem;
}

.input_section, .item_box {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid black;
  border-radius: 10px;
}

.input_section > h2 {
  text-align: center;
  color: black ;
}

.input_section > form > button,
.search_section > form > button {
  width: 100%;
  padding: .5rem 1.5rem;
  font-weight: 700;
  font-size: 1rem;
  color: white;
  background-color: #FF6500;
  border: 3px solid transparent;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: all .1s ease-in-out;
  border-radius: 5px;
}

.input_section > form > button:hover,
.search_section > form > button:hover {
  border: 3px solid transparent;
  background-color: transparent;
  color: #FF6500;
}

.input_section > form > .input > input,
.input_section > form > .input > select{
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
}

.input_section > form > .input > label {
  color: #FF6500;
  font-weight: bold;
}

.search_section {
  display: flex;
  flex-direction: column;
  padding: 16px;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
}

.search_section > form {
  width: 100%;
  display: flex;
  gap: 10px;
}

.search_section > form > input{
  flex: 1 1;
  padding: 8px;
  border-radius: 5px;
}

.search_section > form > button{
  flex: .1 1;
}

.item_box > h2 {
  color: #FF6500;
}

.item_box > .item_list > .item {
  padding: 8px 16px 16px 16px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px 0;
}

.item_box > .item_list > .item > div {
  display: flex;
  width: 100%;
  align-items: center;
}

.item_box > .item_list > .item > input {
  margin: 5px 0;
  color: #FF6500;
  width: 100%;
  font-weight: bold;
}

.item_box > .item_list > .item > div > label {
  flex: .5 1;
}

.item_box > .item_list > .item > div > input {
  flex: .5 1;
  text-align: right;
}

.item_box > .item_list > .item > div > select{
  flex: .5 1;
}

input[disabled] {
  background-color: transparent;
  border: none;
  padding:0;
}





