@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

*,*::before, *::after {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'Comfortaa', sans-serif;
    display: flex;
    flex-direction: column;
}

header.navbar-container {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    margin-inline: 0;
    align-items: center;
    
    background-color: white;
    height: 80px;

    position: fixed;
    z-index: 1001;
}

header.navbar-container .logo {
    display: flex;
    align-items: center;
    height: 100%;
    padding-block: .2rem;
}

header.navbar-container .logo img {
    height: 80%;
}

header.navbar-container .nav-list {
    height: 100%;
}

header.navbar-container .nav-list ul {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    gap: 2rem 0;
    margin: 0;
    height: 100%;
}

header.navbar-container .nav-list li {
    list-style-type: none;
    height: 100%;
}

header.navbar-container .nav-list li a:hover{
    background-color: #FF6500;
    color: #FAE8DC;
}

header.navbar-container .nav-list li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    padding: 0 1rem;
    color: #FF6500;
    transition: all .1s ease-in-out;
    height: 100%;
}

h2 {
    color: #FF6500;
    text-align: center;
    font-weight: bold;
    margin-block: 0;
}

main {
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    padding: 2rem 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

main .content {
    display: flex;
    flex-flow: column nowrap;
}

main .content #beranda {
    padding-top: 80px;
    flex: 1;
    display: flex;
    align-items: center;
}

main .content #beranda .content-image {
    flex: 1;
    display: flex;
}

main .content #beranda .content-image img {
    width: 300px;
    margin: auto;
    min-width: 200px;
}

main .content #beranda .content-description {
    flex: 1.5 1;
}

main .content #beranda .content-description .title {
    font-size: 3rem;
    margin-block: 1rem;
}

main .content #beranda .content-description p {
    font-size: 1.3rem;
    line-height: 1.8rem;
}

main .content #beranda .content-description button {
    padding: 1.2rem 1.5rem;
    font-weight: 700;
    font-family: 'Comfortaa',sans-serif;
    color: white;
    background-color: #FF6500;
    border: 3px solid transparent;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    transition: all .1s ease-in-out;
}

main .content #beranda .content-description button:hover {
    border: 3px solid #FF6500;
    background-color: transparent;
    color: #FF6500;
}

main .content #beranda .content-description button:active {
    box-shadow: none;
}

main .content #feature {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .content #feature ul {
    display: flex;
    gap: 1rem 2rem;
    padding-left: 0;
    padding: 2rem;
    background-color: #FF6500;
}

main .content #feature li {
    width: 25%;
    list-style: none;
    text-align: center;
    font-size: .7rem;
    padding: 15px;
    background-color: #FAE8DC;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    flex: auto;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

main .content #feature li:hover {
    border-radius: 0px;
    cursor: pointer;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

main .content #feature li:active {
    box-shadow: none;
}

main .content #feature li .content-icon {
    flex: 1;
}

main .content #feature li .content-icon img {
    width: 100px;
}

main aside {
    display: flex;
    flex-direction: column;
}

main aside #contact {
    padding-top: 80px;
    display: flex;
    flex: 1;
    gap: 2rem;
}

main aside #contact .content-description {
    flex: 2 1;
}

main aside #contact .content-description p {
    font-size: 1.3rem;
    line-height: 1.8rem;
}

main aside #contact .content-form {
    flex: 1 1;
    margin: 0;
    background-color: #FF6500;
    border-radius: 20px;
    padding: 40px;
}

main aside #contact .content-form form {
    display: flex;
    flex-direction: column;
}

main aside #contact .content-form form label {
    display: block;
    color: white;
    font-weight: 700;
    margin-block: .5rem;
}

main aside #contact .content-form form button {
    padding: 1rem;
    margin-top: 1rem;
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Comfortaa',sans-serif;
    color: #FF6500;
    background-color: white;
    border-radius: 999px;
    border: none;
    transition: all .1s ease-in-out;
}

main aside #contact .content-form form button:hover {
    background-color: #FAE8DC;
    cursor: pointer;
    color: black;
}

input, textarea {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    border: none;
    outline: none;
}
 
main aside #about {
    padding-top: 80px;
    display: flex;
    flex: 1;
    gap: 2rem;
    justify-content: space-around;
}

main aside #about .profile-card {
    background-color: #FF6500;
    display: flex;
    flex: 1;
    padding: 20px;
    max-width: 300px;
    align-items: center;
    border-radius: 8px;
}

main aside #about header .title {
    color: white;
}

main aside #about header figure {
    display: flex;
    justify-content: space-around;
}

main aside #about header figure img {
    width: 100px;
    border-radius: 8px;
}

main aside #about section{
    text-align: left;
    color: white;
}

main aside #about section h3{
    text-align: center;
}

main aside #about section table{
    display: flex;
    gap: 1rem;
}

footer {
    padding: 20px;
    color: white;
    background-color: #FF6500;
    text-align: center;
    font-weight: bold;
}

@media screen and (max-width: 950px) {
    main .content #beranda .content-description .title{
        font-size: 2.5rem;
    }

    main .content #beranda .content-description p{
        font-size: 1rem;
    }

    main .content #beranda .content-image img{
        width: 240px;
    }

    main .content #feature ul{
        flex-wrap: wrap;
    }

    main .content #feature li {
        width: 47%;
        margin: 0;
    }
}

@media screen and (max-width: 670px) {
    header.navbar-container {
        flex-direction: column;
        gap: .5rem;
        padding-block: 1rem;
    }
    
    main {
        padding: 1rem 2rem;
    }

    main .content #beranda {
        flex-direction: column;
        gap: 2rem;
    }

    main .content #beranda .content-image {
        order: -1;
    }

    main .content #feature ul{
        flex-direction: column nowrap;
    }

    main .content #feature li {
        margin: 0 auto;
        width: 100%;
    }

    main aside #contact {
        flex-direction: column;
    }

    main aside #contact .content-description p {
        text-align: center;
    }
}